<div class="session-info">
    {{#if isLoggedIn}}
        <span class="username">{{userName}}</span>
        <a href="?logged_in=false" class="btn btn-ghost">Выйти</a>
    {{else}}
        <a href="?logged_in=true" class="btn btn-primary">Войти</a>
        <a href="#" class="btn btn-ghost">Регистрация</a>
    {{/if}}
</div>
