<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Mamont blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="site-header">
    <div class="header-inner container">
        {{> header}}
        {{> nav}}
        {{> session-info}}
    </div>
</header>

<main class="container">
    {{{body}}}
</main>

{{> footer}}

</body>
</html>
