<h1>О блоге</h1>
<p>Это учебный проект, созданный в рамках лабораторных работ.</p>
<p>Стек технологий: NestJS, Handlebars, Prisma, PostgreSQL.</p>

<h2>Возможности</h2>
<ul>
    <li>Публикация постов по категориям</li>
    <li>Теги для постов</li>
    <li>Комментарии</li>
    <li>Авторизация пользователей</li>
</ul>
